body {
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/* Header NAV */
#header-nav {
  background-color: #A0A0A0;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand h1 { /* Company name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list a {
  background-color: #D0E0E0;
  color: black;
  text-align: center;
  font-size: 1em;
  border-top: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}


.navbar-header button.navbar-toggle{
  border: 1px solid black;
}
.navbar-header .icon-bar {
	border: 2px solid black;
}
.navbar-default button.navbar-toggle:focus .icon-bar {
	border: 2px solid gray;
}

.navbar-header button.navbar-toggle{
  clear: right;
}
/* Footer */


/* Home Page */
#menu-top {
	margin-bottom: 50px;
	font-size: 2em;
	font-weight: bold;
}

div > div > div.menu-box {
	background-color: #A0A0A0;
	padding-bottom: 5px;
	margin-bottom: 30px;
	height: 1000px;
	overflow-y: auto;
}

div > div > div > p.menu-box-title {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 10px;
}

div > div > div > p {
	padding-left: 15px;
	padding-right: 15px;
}